.about_icons_section {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icon_skills img {
    height: 32px;
    width: 32px;
}
.skills {
    width: 100%;
    justify-content: center;
    align-items: center;
}

.About_ {
    width: 44%;
    justify-content: space-around;
    align-items: flex-start;
    display: flex;
    /* padding: 52px; */
    flex-direction: column;
    height: 330px;
    /* background: orange; */
    margin-top: 32px;
}

.rowthree {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.vertical_column_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 14px;
}

.border_left {
    height: 49px;
    width: 1px;
    display: block;
    background-color: #f66d59;
    /* margin-top: 23px; */
    margin-left: 6px;
    margin: 9px 0px;
    border: none;
}

.border_bullet {
    border-radius: 100%;
    height: 8px;
    width: 8px;
    display: block;
    background-color: #f66d59;
    /* margin-top: 17px; */
    /* margin-left: 4px; */
}

.icon_skills {
    flex-direction: row;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 17px 8px;
}

.About_ h1 {
    align-self: flex-start;
    font-weight: 600;
    font-size: xxx-large;
}

.data_column {
    /* margin: 0px 12px; */
    max-width: 76px;
    /* background: orange; */
    height: 79px;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}

.data_row {
        justify-content: space-between;
    width: 74%;
    display: flex;
    height: 94px;
}

.row_number {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.smallerText {
    text-align: left;
    font-size: 10px;
    font-weight: 900;
}

.row_number p {
    color: #fd5840;
    font-weight: 700;
    font-size: 2.1rem;
 
}

.row_number h1 {
    font-size: xx-large;
    font-weight: 700;
}

@media only screen and (orientation: portrait) {
div#skills_language {
    min-height: max-content;
    padding: 7px 0px;
}

.rowthree {
    flex-direction: column;
}

.About_ {
    width: 91%;
}

.data_row {
    width: 96%;
}
.icon_skills {
    min-width: 190px;
    justify-content: flex-start;
}

.icon_skills h1 {
    margin-left: 9px;
}

.icon_skills {
    min-width: 190px;
    justify-content: flex-start;
}

.icon_skills h1 {
    margin-left: 9px;
}

.About_ p {
    width: 84%;
}

.About_ {
    justify-content: center;
    align-items: center;
}

.About_ h1 {
    justify-content: center;
    align-items: center;
    align-self: center;
}

.About_ {
    display: flex;
}

.row_number p {
    width: 65%;
}
}