div#skills_language p {
    display: inline-block;
    text-align: center;
    margin-left: 15px;
    margin-top: 1.5%;
}
div#skills_language {
    text-align: center;
    width: 100%;
    height: 60px;
    display: inline-block;
    background-color: #212121;
}


@media only screen and (orientation: portrait) {
 div#skills_language {
    min-height: max-content;
    padding: 7px 0px;
}

}